<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.largeScreen.api.mapper.CommonMapper">
    <select id="selectRegionByLevel" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_xzqdm   AS xzqdm,
               f_xzqmc   AS xzqmc,
               f_centerx AS centerx,
               f_centery AS centery,
               f_level   AS level,
               f_pcode   AS pcode
        FROM tb_region
        WHERE f_level = ${level}
        ORDER BY f_xzqdm;
    </select>
    <select id="selectRegionByParent" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_xzqdm   AS xzqdm,
               f_xzqmc   AS xzqmc,
               f_centerx AS centerx,
               f_centery AS centery,
               f_level   AS level,
               f_pcode   AS pcode
        FROM tb_region
        WHERE f_pcode = '${xzqdm}'
        ORDER BY f_xzqdm
    </select>
    <select id="selectRegionByXzqdm" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_xzqdm   AS xzqdm,
               f_xzqmc   AS xzqmc,
               f_centerx AS centerx,
               f_centery AS centery,
               f_level   AS level,
               f_pcode   AS pcode
        FROM tb_region
        WHERE f_pcode = '${xzqdm}'
        ORDER BY f_xzqdm
    </select>
    <select id="selectRegionByCoord" resultType="java.util.Map" statementType="STATEMENT">
        WITH A AS (
        SELECT
        f_xzqdm,
        f_xzqmc,
        f_centerx,
        f_centery,
        f_level,
        f_pcode,
        shape
        FROM
        tb_region
        WHERE
        ${lng} <![CDATA[ > ]]> f_xmin
        AND ${lng} <![CDATA[ <= ]]> f_xmax
                         AND ${lat} <![CDATA[ > ]]> f_ymin
        AND ${lat} <![CDATA[ <= ]]> f_ymax
                       AND f_level = 3
        ),
        B AS ( SELECT f_xzqdm, f_xzqmc, f_centerx, f_centery, f_level, f_pcode, st_astext ( shape ) AS wkt FROM A ) SELECT
        f_xzqdm AS xzqdm,
        f_xzqmc AS xzqmc,
        f_centerx AS centerx,
        f_centery AS centery,
        f_level AS LEVEL,
        f_pcode AS pcode
        FROM
        B
        WHERE
        ST_Contains (
        ST_SetSRID ( st_geometryfromtext ( wkt ), 4490 ),
        ST_SetSRID ( ST_MAKEPOINT ( ${lng}, ${lat} ), 4490 ))
    </select>
    <select id="selectRegionByBounds" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_xzqdm   AS xzqdm,
               f_xzqmc   AS xzqmc,
               f_centerx AS centerx,
               f_centery AS centery,
               f_level   AS level,
               f_pcode   AS pcode
        FROM (
                 WITH xzq AS (
                     SELECT f_xzqdm,
                            f_xzqmc,
                            f_centerx,
                            f_centery,
                            f_level,
                            f_pcode,
                            shape
                     FROM tb_region
                     WHERE f_xzqdm NOT IN (SELECT f_xzqdm FROM tb_region WHERE shape IS NULL)
                       AND f_level = ${level}
                     ) SELECT xzq.f_xzqdm,
                              xzq.f_xzqmc,
                              xzq.f_centerx,
                              xzq.f_centery,
                              xzq.f_level,
                              xzq.f_pcode
                       FROM xzq
                       WHERE ST_Contains(ST_SetSRID(st_geometryfromtext('${wkt}'), 4490),
                                         ST_SetSRID(ST_MAKEPOINT(xzq.f_centerx, xzq.f_centery), 4490))) T
        ORDER BY f_xzqdm
    </select>
    <select id="selectRegionWktByXzqdm" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_xzqdm          AS xzqdm,
               f_xzqmc          AS xzqmc,
               st_astext(shape) AS wkt
        FROM tb_region
        WHERE f_xzqdm NOT IN (SELECT f_xzqdm FROM tb_region WHERE shape IS NULL)
          AND f_xzqdm = '${xzqdm}'
    </select>
    <select id="selectRegionTagByXzqdm" resultType="java.util.Map" statementType="STATEMENT">
        WITH t1 AS (SELECT f_xzqmc, f_xzqdm FROM tb_region WHERE f_xzqdm = SUBSTRING(('${xzqdm}'), 1, 2) || '0000'),
             t2 AS (SELECT f_xzqmc, f_xzqdm FROM tb_region WHERE f_xzqdm = SUBSTRING(('${xzqdm}'), 1, 4) || '00'),
             t3 AS (SELECT f_xzqmc, f_xzqdm FROM tb_region WHERE f_xzqdm = '${xzqdm}')
        SELECT t3.f_xzqdm                             AS xzqdm,
               t1.f_xzqmc || t2.f_xzqmc || t3.f_xzqmc AS xzqmc
        FROM t1,
             t2,
             t3
        ORDER BY t3.f_xzqdm
    </select>
    <select id="selectStorageAddress" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_address AS address FROM tbcm_servers WHERE f_id = '${id}'
    </select>
    <select id="selectConfigDic" resultType="java.util.Map" statementType="STATEMENT">
        WITH A AS (SELECT f_dicno FROM tbdm_enumeratorvalue WHERE f_key = '${key}')
        SELECT B.f_code AS code,
               B.f_name AS name,
               B.f_pid  AS pid
        FROM A
                 LEFT JOIN tbdm_enumeratordomain B ON A.f_dicno = B.f_dicno
    </select>
    <select id="selectJzInfoDic" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_field     AS field,
               f_aliasname AS alias,
               f_casevalue AS casevalue,
               f_order     AS order
        FROM tbcm_querydata_config
        WHERE f_layerid = '${layerId}'
          AND f_type = '4'
          AND f_enable = '1'
          AND f_visible = '1'
          AND f_subtype = '3'
          AND f_pid = '1001'
        ORDER BY f_order ASC
    </select>
    <select id="selectJctbInfoDic" resultType="java.util.Map" statementType="STATEMENT">
        SELECT f_field     AS field,
               f_aliasname AS alias,
               f_order     AS order,
               f_casevalue AS casevalue
        FROM tbcm_querydata_config
        WHERE f_layerid = '${layerId}'
          AND f_type = '4'
          AND f_enable = '1'
          AND f_visible = '1'
          AND f_subtype = '1'
          AND f_pid = '1001'
        ORDER BY f_order ASC
    </select>
    <select id="selectJctbInfo" resultType="java.util.Map" statementType="STATEMENT">
        select
        <foreach item="item" collection="fields" separator=", ">
            ${item.field}
        </foreach>
        from
        <choose>
            <when test="layerId=='1014'">
                tb_sd_ybjz
            </when>
            <when test="layerId=='1015'">
                tb_sd_ccjz
            </when>
            <when test="layerId=='1016'">
                tb_sd_bcjz
            </when>
            <when test="layerId=='1017'">
                tb_sd_zxjz
            </when>
            <when test="layerId=='1018'">
                tb_bgdc_jctb
            </when>
            <when test="layerId=='1019'">
                tb_bgdc_zddl
            </when>
        </choose>
        WHERE f_xzqdm = '${xzqdm}' AND f_tbybh = '${tbbh}'
    </select>
    <select id="selectVisibleJctb" resultType="java.util.Map" statementType="STATEMENT">
        select
        f_pid as pid,
        f_tbybh as tbybh,
        f_xzqdm as xzqdm,
        st_astext(f_shape) AS wkt
        from
        <choose>
            <when test="layerId=='1014'">
                tb_sd_ybjz
            </when>
            <when test="layerId=='1015'">
                tb_sd_ccjz
            </when>
            <when test="layerId=='1016'">
                tb_sd_bcjz
            </when>
            <when test="layerId=='1017'">
                tb_sd_zxjz
            </when>
            <when test="layerId=='1018'">
                tb_bgdc_jctb
            </when>
            <when test="layerId=='1019'">
                tb_bgdc_zddl
            </when>
        </choose>
        where (f_centerx <![CDATA[ >= ]]> ${minx} and f_centerx <![CDATA[ <= ]]> ${maxx}) and (f_centery
        <![CDATA[ >= ]]> ${miny} and f_centery <![CDATA[ <= ]]> ${maxy})
    </select>
    <select id="selectJctbAffix" resultType="java.util.Map" statementType="STATEMENT">
        SELECT t1.f_id                                     as id,
               t1.f_type                                   as type,
               t1.f_angle                                  as angle,
               t1.f_xzqdm                                  as xzqdm,
               (t2.f_address || '/' || t1.f_filelocation)  as filelocation,
               (t2.f_address || '/' || t1.f_thumbfilepath) as thumbfilepath,
               t1.f_phototype                              as phototype,
               t1.f_userid                                 as userid,
               t1.f_username                               as name,
               t1.f_mediasize                              as mediasize,
               t1.f_jctbid                                 as jctbid,
               t1.f_layerid                                as layerid,
               f_jcbh                                      as tbbh
        FROM
            tb_multimediadata t1 left join tbcm_servers t2 on t1.f_serverid = t2.f_id
        WHERE t1.f_jcbh = '${tbbh}'
          AND t1.f_xzqdm = '${xzqdm}'
          AND t1.f_state > 0
    </select>
    <insert id="insertJctbAffix" statementType="STATEMENT">

    </insert>
    <update id="updateJctbInfo" statementType="STATEMENT">
        UPDATE
        <choose>
            <when test="record.layerId=='1014'">
                tb_sd_ybjz
            </when>
            <when test="record.layerId=='1015'">
                tb_sd_ccjz
            </when>
            <when test="record.layerId=='1016'">
                tb_sd_bcjz
            </when>
            <when test="record.layerId=='1017'">
                tb_sd_zxjz
            </when>
            <when test="record.layerId=='1018'">
                tb_bgdc_jctb
            </when>
            <when test="record.layerId=='1019'">
                tb_bgdc_zddl
            </when>
        </choose>
        <set>
            f_wyrddl='${record.wyrddl}',
            f_dcbz='${record.dcbz}',
            f_sfjz='${record.sfjz}',
            f_wjzlx='${record.wjzlx}',
            f_wybz='${record.wybz}',
            f_jzsm='${record.jzsm}'
        </set>
        where f_id='${record.jctbId}'
    </update>
    <select id="invokeMethod" resultType="java.util.Map" statementType="STATEMENT">
        select ${method} AS value
    </select>
</mapper>